<div class="col-md-8">
  <div class="card">
    <form action="" class="form-horizontal ng-untouched ng-pristine ng-valid" ng-submit="updateProfile()">
      <div class="card-header">
        <strong>Profile Information</strong>
        <div  role="alert" class="alert alert-danger" ng-repeat="error in messages.error">
          <code >{{error.msg}}  </code>
        </div>
        <div ng-if="messages.success" role="alert" class="alert alert-success">
          <code ng-repeat="success in messages.success">{{success.msg}}</code>
        </div>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Email</label>
          <div class="col-md-9">
            <p class="form-control-static">{{profile.email}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Name</label>
          <div class="col-md-9">
            <input class="form-control" id="text-input" name="nama" placeholder="Nama" type="text" ng-model="profile.name">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </form>
  </div>
  <div class="card">
    <div class="card-header">
      <strong>Ubah Password</strong>
    </div>
    <div class="card-body">
      <form class="form-inline ng-untouched ng-pristine ng-valid" ng-submit="changePassword()">
        <div class="form-group">
          <label class="sr-only" for="new-password">Password Lama</label>
          <input class="form-control" id="new-password" name="new-password" placeholder="Password Lama" type="password">
        </div>
        <div class="form-group">
          <label class="sr-only" for="if-password">Password Baru</label>
          <input class="form-control" id="if-password" name="if-password" placeholder="Enter Password.." type="password">
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i> Submit</button>
      <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </div>
</div>